
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111120698-4"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/reset.css" />
        <!-- fullPage.js v2.9.7 / css-->
        <link rel="stylesheet" href="vendor/jquery.fullPage.css"/>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/index.css" />

        <title>TzuJie_Chao</title>

    </head>
    <body>
        <div id="wrap">
            <div id="nav">
                <img src="img/logo.png" alt="">
                <ul>
                    <li><a href="#kv" data-menuanchor="kv" class="active" @click="go('menu','menuClose')">首頁</a></li>
                    <li><a href="#about" data-menuanchor="about" @click="go('menu','menuClose')">關於我</a></li>
                    <li><a href="#experience" data-menuanchor="experience" @click="go('menu','menuClose')">經歷</a></li>
                    <li><a href="#portfolio" data-menuanchor="portfolio" @click="go('menu','menuClose')">作品</a></li>
                    <li><a href="#contact" data-menuanchor="contact" @click="go('menu','menuClose')">聯絡我</a></li>
                </ul>
                <p>© 2022 LUBE</p>
            </div>
            <div class="m-nav" @click="go('menu','menuOpen')">
                <span class="hamburguer">
                    <span class="bar bar1"></span>
                    <span class="bar bar2"></span>
                    <span class="bar bar3"></span>
                </span>
            </div>
            <div class="m-bg"></div>


            <div id="fullpage">
                <div class="section sec1">
                   <div class="box">
                    <div class="kv-pic">
                        <img src="img/kv-pic.jpg" alt="">
                    </div>
                    <span>TZU-JIE CHAO</span>
                    <div class="line move"></div>
                    </div>
                </div>
                <div class="section sec2">
                    <div class="pagetag">關於我</div>
                    <div class="box">
                        <div class="info">
                            <img src="img/me.jpg" alt="">
                            <div class="info-word">
                                <span>我是趙子潔，</span>
                                <span>畢業於淡江資訊傳播學系，</span>
                                <span>因緣際會下接觸網頁前端，</span>
                                <span>展開一場學習程式的旅程，</span>
                                <span>很喜歡打完程式看到成果的成就感，</span>
                                <span>雖然途中常常遭遇挫折，但也越挫越勇，</span>
                                <span>藉由解決困難與學習新知來充實自己。</span>
                            </div>
                        </div>
                        <div class="skill">
                            <span class="skill-title">技能</span>
                            <div class="skill-box">
                                <ul>
                                    <li>熟悉HTML5與CSS3語言</li>
                                    <li>響應式RWD應用</li>
                                    <li>熟悉JavaScript與ES6知識</li>
                                    <li>熟悉Vue.js與VueX / Vue-Router應用</li>
                                    <li>運用Ajax串接後端API</li>
                                </ul>
                                <ul>
                                    <li>後端語言PHP基礎與MySQL簡單應用</li>
                                    <li>熟悉Git指令並依循Git Flow進行版本控管</li>
                                    <li>應用Lighthouse檢測網頁與優化SEO</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section sec3">
                    <div class="pagetag">經歷</div>
                    <div class="box">
                        <div class="arrow-wrap">
                            <div class="arrow" :class="{'active': activeExperience === 'tku'}" @click="activeExperience = 'tku'">
                                <span>淡江</span><span>資訊傳播學系</span>
                                <p class="arrow-note">2016/09 - 2019/06</p>
                            </div>
                            <div class="arrow" :class="{'active': activeExperience === 'webgine'}" @click="activeExperience = 'webgine'">
                                <span>網路基因</span><span>技術部實習</span>
                                <p class="arrow-note">2018/07-2019/01</p>
                            </div>
                            <div class="arrow" :class="{'active': activeExperience === 'ruten'}" @click="activeExperience = 'ruten'">
                                <span>露天拍賣</span><span>前端工程師</span>
                                <p class="arrow-note">2019/08-2022/10</p>
                            </div>
                        </div>
                        <div class="experience-text" v-if="activeExperience === 'tku'">
                            <p class="experience-text-title">資訊傳播學系</p>
                            <ul>
                                <li>在系上接觸到許多技能，包含拍照技巧、照片編修、電腦繪圖、影音剪輯、行銷知識、數位行銷、程式設計等等，在其中發現自己對程式很有興趣，進而自己多加學習。</li>
                            </ul>
                            <p class="experience-text-title">創意數位媒體教學實習中心 —— 網站組</p>
                            <ul>
                                <li>於大二通過甄選加入系上創意數位媒體教學實習中心的網站組，透過讀書會的方式互相分享與教學更多行銷與網頁程式相關的知識，並回家自主學習，在這裡磨練了許多寫網站的技巧。</li>
                            </ul>
                            <p class="experience-text-title">畢業製作 —— 《淡事》</p>
                            <ul>
                                <li>在大四畢業製作過程中，與組員共同發想專案主題與內容，並設計活動與展覽，在互相分工與團隊合作下，我們在半年的時間完成屬於我們與淡水的作品《淡事》與以淡水古蹟為主題的實境解謎《解靈人》。</li>
                            </ul>
                        </div>
                        <div class="experience-text" v-if="activeExperience === 'webgine'">
                            <p class="experience-text-title">實習過程</p>
                            <ul>
                                <li>實際到業界學習才發現自己有許多的不足，很慶幸在網基擁有很自由的學習空間以及很願意教的前輩們，讓我技能level up，並且有了實戰的經驗，也了解到網站專案的流程。</li>
                            </ul>
                            <p class="experience-text-title">練習與實戰經驗</p>
                            <ul>
                                <li>練習切版、jQuery應用與學習Vue.js</li>
                                <li>學習後端語言PHP與MySQL，如何從資料庫撈資料</li>
                                <li>實際參與專案，練習使用第三方套件，並藉此了解專案運作流程</li>
                            </ul>
                        </div>
                        <div class="experience-text" v-if="activeExperience === 'ruten'">
                            <p class="experience-text-title">買家相關頁面維護與需求開發（首頁、商品頁、賣場頁、搜尋頁 等等）</p>
                            <ul>
                                <li>與企劃協調需求、與UI溝通樣式與動態、與後端串接API</li>
                                <li>使用Git進行版本控制（也用過SVN）</li>
                                <li>站上共用元件開發（ex.數量選擇器 / slideshow）</li>
                                <li>專館推薦商品集合頁、運費券領券頁、雙11任務活動頁等頁面開發</li>
                                <li>將運費券活動標籤改成後台上稿，節省配合活動不斷換圖的人力與時間</li>
                                <li>運費券、賣家折扣碼前台頁面調整，提升購買量</li>
                                <li>第三方登入相關頁面開發，提升註冊人數</li>
                            </ul>
                            <p class="experience-text-title">頁面重構</p>
                            <ul>
                                <li>使用Vue.js重構T3 module、jQuery的舊頁面（VueX / Vue-Router）</li>
                                <li>商品頁模組化並應用VueX重構，提升Lighthouse分數</li>
                                <li>首頁改版 (搭配Scrum敏捷開發)</li>
                            </ul>
                            <p class="experience-text-title">其他</p>
                            <ul>
                                <li>GTM&GA埋碼（GA電子商務），以利數據追蹤、觀測轉換率</li>
                                <li>協助搜尋頁SEO優化並觀測Google Search Console數據</li>
                                <li>解決手機版搜尋頁LCP問題，從不良回到優良（2.5秒以內）</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="section sec4">
                    <div class="pagetag">作品</div>
                    <div class="slide" v-if="screenWidth>900">
                        <div class="web">
                            <img src="img/s1-1.png" alt="">
                            <span class="title">《淡事》專案網站</span>
                            <span class="word">為畢業製作《淡事》做一個專案網站，展示專案所做的內容、淡水古蹟介紹與活動紀錄，讓觀看者能透過網站更了解此專案的應用，也能藉此做推廣專案。</span>
                            <div class="btn" @click="go('web','tamstory')"><span>參觀網站</span><div class="arrow"></div></div>
                        </div>
                        <div class="web">
                            <img src="img/s1-2.png" alt="">
                            <span class="title">《解靈人》實境解謎——解謎網站</span>
                            <span class="word">《解靈人》是一套融合淡水古蹟的實境解謎遊戲，是《淡事》專案下的產品，玩家能透過此解謎網站登入序號、取隊名、輸入答案、索取提示、查看排行榜。我獨自完成前後端的部分，應用PHP與MySQL做資料管理，並與前端網頁連接，給玩家更便利的遊玩過程。</span>
                        </div>
                    </div>
                    <div class="slide" v-if="screenWidth>900">
                        <div class="web">
                            <img src="img/s2-1.png" alt="">
                            <span class="title">中午吃什麼</span>
                            <span class="word">暑假在網路基因實習時做的一個小專案，也藉由架這個網站學到許多技巧，更磨練了自己的基本功。也在這個專案學了一點php，將店家資料存在資料庫，再利用ajax從資料庫讀取資料來呈現，並且做了一個後台來管理店家資料。</span>
                            <div class="btn" @click="go('web','food')"><span>參觀網站</span><div class="arrow"></div></div>
                        </div>
                        <div class="web">
                            <img src="img/s2-2.png" alt="">
                            <span class="title">國泰－高登計畫 首頁</span>
                            <span class="word">在網基實習時，接觸到的一個真實專案，雖然並不是整個首頁都是我獨立完成，但能有機會參與案子的一部分，也讓我學到許多，包含與設計的溝通以及測試後的種種debug，都是一段很特別的經驗。</span>
                        </div>
                    </div>

                    <!-- mobile content-->
                    <div class="slide" v-if="screenWidth<900">
                        <div class="web">
                            <img src="img/s1-1.png" alt="">
                            <span class="title">《淡事》專案網站</span>
                            <span class="word">為畢業製作《淡事》做一個專案網站，展示專案所做的內容、淡水古蹟介紹與活動紀錄，讓觀看者能透過網站更了解此專案的應用，也能藉此做推廣專案。</span>
                            <div class="btn" @click="go('web','tamstory')"><span>參觀網站</span><div class="arrow"></div></div>
                        </div>
                    </div>
                    <div class="slide" v-if="screenWidth<900">
                        <div class="web">
                            <img src="img/s1-2.png" alt="">
                            <span class="title">《解靈人》實境解謎——解謎網站</span>
                            <span class="word">《解靈人》是一套融合淡水古蹟的實境解謎遊戲，是《淡事》專案下的產品，玩家能透過此解謎網站登入序號、取隊名、輸入答案、索取提示、查看排行榜。我獨自完成前後端的部分，應用PHP與MySQL做資料管理，並與前端網頁連接，給玩家更便利的遊玩過程。</span>
                        </div>
                    </div>
                    <div class="slide" v-if="screenWidth<900">
                        <div class="web">
                            <img src="img/s2-1.png" alt="">
                            <span class="title">中午吃什麼</span>
                            <span class="word">暑假在網路基因實習時做的一個小專案，也藉由架這個網站學到許多技巧，更磨練了自己的基本功。也在這個專案學了一點php，將店家資料存在資料庫，再利用ajax從資料庫讀取資料來呈現，並且做了一個後台來管理店家資料。</span>
                            <div class="btn" @click="go('web','food')"><span>參觀網站</span><div class="arrow"></div></div>
                        </div>
                    </div>
                    <div class="slide" v-if="screenWidth<900">
                        <div class="web">
                            <img src="img/s2-2.png" alt="">
                            <span class="title">國泰－高登計畫 首頁</span>
                            <span class="word">在網基實習時，接觸到的一個真實專案，雖然並不是整個首頁都是我獨立完成，但能有機會參與案子的一部分，也讓我學到許多，包含與設計的溝通以及測試後的種種debug，都是一段很特別的經驗。</span>
                        </div>
                    </div>
                    <!-- mobile content end--> 

                </div>
                <div class="section sec5">
                    <div class="pagetag">聯絡我</div>
                    <div class="box">
                        <div class="contact-img-wrap">
                            <img src="img/me2.jpg" alt="">
                        </div>
                        <div class="info">
                            <div><span class="icon-iconmonstr-user-1"></span><span class="name">趙子潔</span></div>
                            <div><span class="icon-iconmonstr-email-3"></span><span class="mail">lube44011@gmail.com</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--vue-->
        <script src="vendor/vue.min.js"></script>
        <!--jquery-->
        <script src="vendor/jquery-3.3.1.min.js"></script>
        <!-- fullPage.js v2.9.7 / js-->
        <script src="vendor/jquery.fullPage.js"></script>
        <!--index-->
        <script src="js/index.js"></script>

    </body>
</html>



